/* General List Style */
li {
  list-style: none;
}

.img-about {
  width: 100%;
  border-radius: 10px;
}

.about-text {
  margin: 20% 10% 20% 10%;
  text-align: justify;
}

/* Section Styles */
.section-about {
  background-color: white;
  padding: 60px 0;
  color: #333;
}

/* Titles */
.title {
  font-size: 2rem;
  color: #000;
  font-weight: bold;
}

/* Responsive Styles */
@media (max-width: 767px) {
  .container {
    width: 100%;
  }

  .title {
    font-size: 1.75rem;
  }
}
