body {
  font-family: "Poppins", sans-serif;
}

p {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-blue {
  color: rgb(44, 70, 207) !important;
}

.text-aqua {
  --tw-text-opacity: 1;
  color: rgb(16, 250, 250);
}

.bg-blue {
  background-color: rgb(44, 70, 207);
}

.font-bold {
  font-weight: 700;
}

.mb-0 {
  margin-bottom: 0px;
}

.g-txt-1 {
  font-size: 1.25rem;
}

.wx-h1-1 {
  font-size: 7em;
}

.wx-h1-2 {
  font-size: 5.5em;
}

.br-rd-1 {
  border-radius: 10px;
}

.pb-16 {
  padding-bottom: 4rem;
}

.h1-txt-1 {
  font-size: 3rem;
  line-height: 1;
  letter-spacing: -0.05em;
}

.h3-txt-1 {
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: -0.05em;
}

@media (max-width: 1000px) {
  .wx-h1-1 {
    font-size: 4rem;
    text-align: center;
  }

  .wx-h1-2 {
    font-size: 2.5;
    text-align: center;
  }
}
